<div class="col-lg-2 col-md-4  " style="height: 13%; ">
    <app-header class="h-100"></app-header>
</div>

<div class="container-fluid h-100 border-dark">
    <div class="row h-100 no-gutters">

        <div class="col-lg-2 col-md-4  " style="height: 108%;  width: 170px;   background-color: #ccd7de80 ">
            <app-menuservice class="h-100"></app-menuservice>
        </div>

        <section class="flex-grow-1 content-area" style="height: 108%; width: 1200px;  background-color: #ccd7de80">
            <router-outlet></router-outlet>     
        </section>

    </div>
</div>