.para {
  background-color: white;
  height: 100%;
  width: 100%;
}

.all {
  background-color: white;
}

.contenair {
  margin-left: 20px;
  color: rgb(23, 1, 1);
}



.debut {
  padding-top: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.debut h6 {
  color: rgb(1, 5, 14);
  margin: 0;
  /* Enlève la marge par défaut de <h6> */
}


/****** TABLE horizontale *******/
/* Style for the table container */
.sales-details {
  margin: 10px;
  border-radius: 8px;
  height: 450px;
}

/* Styling for menuRight */
.menuRight {
  background: white;
  padding: 10px;
  color: black;
  width: 50px;
  height: 300px;
  /* Match height with the menuLeft */
}

.formcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  /* Utilise la police UX-friendly */
}

.formcontainer .search-field {
  display: flex;
  gap: 7px;
  /* Ajoute de l’espace entre le label et l’input */
}

.formcontainer .search-field span.details {
  font-weight: bold;
  color: #555;
  /* Couleur pour un meilleur contraste */
}

.formcontainer input[type="text"] {
  padding: 8px;
  width: 200px;
  border: 3px solid #ddd;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}

.payerbutt {
  padding-top: 15px;
  padding-bottom: 20px;

}

.custom-green {

  margin-left: 5px;
  background-color: #00ff73;
  /* Couleur bleu */
  color: white;
  /* Couleur du texte en blanc */
  border-radius: 50px;
  /* Bord arrondi pour créer un effet cylindrique */
  padding: 10px 20px;
  border: none;
  /* Supprime la bordure */
  font-weight: bold;
}

.formcontainer {
  display: flex;
  /* Use flexbox to arrange children horizontally */
  justify-content: space-between;
  /* Space between the input fields */
  align-items: center;
  /* Center align the items vertically */
  margin-bottom: 5px;
  /* Adds space below the input fields for the button */
}

.searchfield {
  gap: 7px;
  /* Ajoute de l’espace entre le label et l’input */
  flex: 1;
  /* Allows each search field to take equal width */
  margin-right: 15px;
  /* Space between the two fields */
}




.form-container {
  display: flex;
  /* Utiliser flexbox pour disposer les éléments */
  flex-direction: column;
  /* Aligner les éléments verticalement */
}

.arrangement {
  margin-bottom: 10px;
  /* Ajouter de l'espace en bas de l'arrangement */
}



/*** css des carre ***/
.container {
  padding-top: 50px;
  background-color: white;
  display: flex;
  gap: 50px;
  /* Espace entre les carrés */
}

.carre {
  margin-left: 30px;
  width: 220px;
  height: 150px;

}

.carrecontenu {
  padding-top: 05px;
  padding-left: 05px;
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
}