<div class="all">
  <div class="contenair">
    <div class="debut">
      <h6> Liste des paiements
      </h6>
      <img src="../../../../assets/Images/Close.png" height="30px" alt="Fermer" class="icon" (click)="closeDialog()">
    </div>
    <pre></pre>

    <header>
      <div class="header">
        <div class="row align-items-center d-flex">

          <form (ngSubmit)="onSearch()" class="prob">
            <div class="searchfield">
              <label for="number" class="me-2">De : </label>
              <input type="date" list="numberOptions" [(ngModel)]="selectedNumber" required />
            
              &nbsp; &nbsp; &nbsp; &nbsp;

              <label for="number" class="me-2">A : </label>
              <input type="date" list="numberOptions" [(ngModel)]="selectedNumber" required />
            </div>


            <div class="col-auto">
              <button type="submit" class="btn btn-primary">Lancer</button>
            </div>
          </form>

        </div>
      </div>
    </header>


    <pre></pre>
    <pre></pre>


    <menu>
      <div class="body">
        <div class="menuLeft" style="color: black; background-color: white;">
          <div class="sales-details" style="color: rgb(9, 1, 1); ">

            <table class="table">
              <thead>
                <tr>
                  <th>IdRetrait</th>
                  <th>Date depot</th>
                  <th>Service</th>
                  <th>Date retrait</th>
                  <th>Client</th>
                  <th>Reste</th>

                </tr>
              </thead>
              <pre></pre>
              <tbody>
                <tr *ngFor="let pai of depots">
                  <td>{{ pai.nom }}</td>
                  <td>{{ pai.niveau }}</td>
                  <td>{{ pai.totalEtudiants }}</td>
                  <td>{{ pai.totalEtudiants }}</td>
                  <td>{{ pai.totalEtudiants }}</td>
                  <td>{{ pai.totalEtudiants }}</td>
                  <td>{{ pai.totalEtudiants }}</td>
                </tr>
              </tbody>

            </table>


          </div>
          <div class="bas">
            <div class="nombrecontenu">
              Nombre : &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; <span class="number">{{ 20 }}</span>
            </div>
          
            <div class="nombrecontenu">
              Somme : &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; <span class="number">{{ 20000 }}</span>
            </div>
          </div>
        </div>



      </div>

    </menu>

  </div>

</div>