<div class="all">

  <div class="contenair">
    <div class="debut">
      <h6>
        <span>
          {{ isEditMode ? 'MODIFICATION ARTICLE' : 'AJOUT D\'ARTICLE' }}
        </span>
      </h6>
      <img src="../../../../assets/Images/Close.png" height="30px" alt="Fermer" class="icon" (click)="closeDialog()">
    </div>



  </div>

  <div class="paratouch">

    <form (ngSubmit)="onSubmit()" #form="ngForm" class="col form-container">

      <div class="arrangement" style="margin-left: 20px;">

        <!-- LIBELLE -->
        <div class="formcontainer">
          <div class="searchfield">
            <input type="text" name="libelle" required [(ngModel)]="article.libelle" placeholder="Libelle"
              style="height: 30px; width: 60%;">
          </div>

          <!-- IMAGE URL -->
          <div class="searchfield">
            <input type="text" name="image" [(ngModel)]="article.image" placeholder="Image (optionnel)"
              style="height: 30px; width: 55%;">
          </div>

        </div>

        <!-- IMAGE PREVIEW -->
        <div class="Imagecontainer">

          <img [src]="article.image || '../../../../assets/Images/chrr.png'" alt="Article image" width="150">

        </div>

      </div>

      <!-- BUTTON -->
      <div class="payerbutt">
        <button type="submit" class="btn btn-primary custom-green" [disabled]="form.invalid || loading">

          {{ loading ? 'Enreg...' :
          (isEditMode ? 'Modifier' : 'Enregistrer') }}

        </button>
      </div>

    </form>

  </div>

</div>