.contenair {
  margin-left: 20px;
  padding: 10px;
  color: rgb(14, 1, 1);
  /* Rend le texte blanc pour le contraste */
}



.debut {
  display: flex;
  align-items: center;
  /* Aligne les éléments verticalement au centre */
  justify-content: space-between;
  /* Espace entre le <h6> et le <button> */
}

span {
  color: orange;
}

h6 {
  color: blue;
  margin: 0;
  position: relative;
  /* Nécessaire pour positionner la ligne */
}

h6::after {
  top: 40px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* Ligne occupant toute la largeur */
  height: 5px;
  /* Contrôle l'épaisseur de la ligne */
  background-color: blue;
  /* Couleur de la ligne */
}

.formcontainer input[type="text"] {
  margin-top: 20px;
  border: 3px solid #ddd;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}

.Imagecontainer img {
  padding: 8px;
  width: 100px;
  border: 3px solid #ddd;
  border-radius: 5px;
  margin-left: 50px;
  font-family: 'Roboto', sans-serif;
}






.arrangement {
  display: flex;
  justify-content: space-between;
}

.formcontainer {
  flex: 1;
}

.icon {
  padding-top: 5px;
  height: 20px;
  vertical-align: middle;
  margin-right: 10px;
  /* Ajoute un espace après l'image */
}

.Imagecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchfield input[type="image"] {
  text-align: left;
}

.searchfield input[type="imge"] {
  text-align: left;
}




.payerbutt {
  padding-top: 10px;

}

.custom-green {

  margin-left: 415px;
  background-color: #0097E6;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
}