<div class="all">
  <div class="contenair">
    <div class="debut">
      <h6> </h6>
      <img src="../../../../assets/Images/Close.png" height="30px" alt="Fermer" class="icon" (click)="closeDialog()">
    </div>
    <h6><span>AJOUT D'ARTICLE </span>
      <hr>
    </h6>
  </div>

  <div class="paratouch">
    <form (ngSubmit)="onSubmit()" #form="ngForm" class="col form-container">

      <div class="arrangement" style="margin-left: 20px; ">
        <div class="formcontainer">
          <div class="searchfield">
            <input type="text" name="libelle" required [(ngModel)]="article.libelle" placeholder="Libelle"
              style="height: 30px; width: 60%;">
          </div>


          <div class="formcontainer">
            <div class="searchfield">
              <input type="text" name="image" [(ngModel)]="article.image" placeholder="Image (optionnel)"
                style="height: 30px; width: 55%;">
            </div>

          </div>
        </div>

        <div class="Imagecontainer">

          <div class="searchfield">

            <!-- ✅ Image saisie -->
            <img *ngIf="article.image" [src]="article.image" alt="Article image" width="150">

            <!-- ✅ Image par défaut si vide -->
            <img *ngIf="!article.image" src="../../../../assets/Images/chrr.png" alt="Actualiser" width="150">

          </div>

        </div>
      </div>
      <div class="payerbutt">
        <button type="submit" class="btn btn-primary custom-green" [disabled]="form.invalid || loading">
          {{ loading ? 'Enregistrement...' : 'Enregistrer' }}
        </button>
      </div>
    </form>
  </div>

</div>