

  /* Appliquez Flexbox à container-fluid pour une disposition en colonne */
  .container-fluid {
    font-size: 18px; /* Vous pouvez ajuster cette valeur selon vos besoins */
    display: flex;
    flex-direction: column;
    height: 80%;
  }
  
  /* Appliquez Flexbox à no-gutters pour une disposition en ligne */
  .row.no-gutters {
    flex: 1;
    display: flex;
    flex-direction: row;
  }
  
  /* Configurez col-lg-10 pour qu'il utilise Flexbox avec une direction de colonne */
  .col-lg-10 {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  /* content-area utilisera l'espace disponible et permettra le défilement */
  .content-area {
    flex-grow: 1;
    overflow-y: auto;
  }

  
  /* Assurez-vous que le footer reste visible en bas */
  .footer {
    /*background-color: rgba(236, 236, 236, 0.7);*/
    height: 40px;
    flex-shrink: 0;
  }
  
