

  /* Appliquez Flexbox à container-fluid pour une disposition en colonne */
  .container-fluid {
    font-size: 18px; /* Vous pouvez ajuster cette valeur selon vos besoins */
    display: flex;
    flex-direction: column;
    height: 80%;
  }
  
  /* Appliquez Flexbox à no-gutters pour une disposition en ligne */
  .row.no-gutters {
    flex: 1;
    display: flex;
    flex-direction: row;
  }
  
  /* Configurez col-lg-10 pour qu'il utilise Flexbox avec une direction de colonne */
  .col-lg-10 {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  /* content-area utilisera l'espace disponible et permettra le défilement */
  .content-area {
    flex-grow: 1;
    overflow-y: auto;
  }

  
  /* Assurez-vous que le footer reste visible en bas */
  .footer {
    /*background-color: rgba(236, 236, 236, 0.7);*/
    height: 40px;
    flex-shrink: 0;
  }
  


  /*** css de accueil meme ***/
  .container {
    padding-top: 35px;
    display: flex;
    flex-wrap: wrap; /* Permet de faire passer les éléments sur une nouvelle ligne si nécessaire */
    gap: 20px; /* Ajustez l'espace entre les carrés */
    justify-content: center; /* Centrer les éléments dans la ligne */
}

.carre {
    width: 100%; /* Largeur par défaut */
    max-width: 250px; /* Limite de largeur */
    height: 200px;
    background-color: white;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto; /* Centrer l'élément */
}

.carrecontenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Media queries pour écrans de différentes tailles */
@media (min-width: 768px) {
    .carre {
        width: calc(50% - 20px); /* Deux carrés par ligne */
    }
}

@media (min-width: 1024px) {
    .carre {
        width: calc(33.33% - 20px); /* Trois carrés par ligne */
    }
}

.carrecontenu {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre l'image et le texte */
}

img {
  padding: 30px;
  height: 65px;
  margin-bottom: 0; /* Retire l'espace entre l'image et le texte */

}

.carrecontenu p {
  text-align: center;
  margin-top: -30px;
  margin-bottom: 20px;
  font-size: 14px;
}
.number{
  color: #4CD137;
}
.ret{
  color:  #C62D2D;

}
.dep{
  color:  #E67E22;

}



/*** le tableau ***/
.tableau {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  height: 330px;
  width: 90%; /* Ajustement de la largeur pour s'adapter aux petits écrans */
  background-color: white;
  overflow-x: auto; /* Ajout pour permettre le défilement horizontal si nécessaire */
  border-radius: 8px;
}

/*** tableau contenu ***/
.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

/*** entête du tableau ***/
.table thead th {
  text-align: left;
  padding: 10px;
}


/*** rendre le tableau responsive ***/
@media (max-width: 768px) {
  .table thead {
      display: none; /* Cacher l'en-tête sur les petits écrans */
  }

  .table tbody tr {
      display: block;
      margin-bottom: 15px;
  }

  .table tbody td {
      display: flex;
      justify-content: space-between;
      padding: 8px 5px;
      border-bottom: 1px solid #ddd;
  }

  .table tbody td::before {
      content: attr(data-label);
      font-weight: bold;
      text-transform: capitalize;
      margin-right: 5px;
  }
}



.tab{
  color: #0097E6;
}
.arran{
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 3px;
  display: flex; justify-content: space-between; align-items: center;
}
.tex {
  color: black; /* Couleur noire pour le texte "Personnes" */
}
.te {
  color: #E67E22;
}

/* Styling for menuLeft */
.menuLeft {
  background-color: white;
  padding: 10px;
  color: black;
  margin-left: 10px;

}
.menuLeft {
  text-align: right;
}


/* Table style */
.table {
  font-family: 'Roboto', sans-serif; 
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

/* Header style */
.table thead th {
  color: #0b0000;
  font-weight: bold;
  text-align: left;
}

/* Body rows style */
.table tbody td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Hover effect on rows */
.table tbody tr:hover {
  background-color: #f2f2f2;
}

/* Column specific styles */
.table tbody td:nth-child(1) {
  color: #ff5733; /* Style pour la colonne "Code paie" */
}

.table tbody td:nth-child(2) {
  color: #337ab7; /* Style pour la colonne "Date versement" */
}

.table tbody td:nth-child(3) {
  font-weight: bold; /* Style pour la colonne "Somme" */
}