<div class="all">


    <div class="contenu">
        <div class="debut">
            <h6>Gestions des Clients</h6>

            <img src="../../../../assets/Images/Close.png" height="30px" alt="Fermer" class="icon"
                (click)="closeDialog()">
        </div>


        <div class="formcontainer">
            <img src="../../../../assets/Images/Vector.png" alt="Actualiser" class="icon"> &nbsp;&nbsp;
            <div class="searchfield">
                <input type="text" [(ngModel)]="client.nom" name="nom client" required
                    placeholder="Entrer le nom du Client">
            </div>
            <div class="user">
                <div class="searchfield" style="color: blue;">
                    Client &nbsp;&nbsp;
                    <input type="text" [(ngModel)]="client.id" name="clientPaysBac" required style="width: 60px;">
                </div>
            </div>

        </div>


        <div class="arran">
            <div class="tab">{{ 2 }} <span class="tex">Personnes</span></div>

        </div>


        <menu>

            <div class="body">


                <div class="menuRight">
                    <table class="vertical-table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nom</th>
                                <th>Prenoms</th>
                                <th>Sexe</th>
                                <th>Contact</th>
                                <th>Adresse</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- ⚡ Utiliser pagedClients -->
                            <tr *ngFor="let client of pagedClients" (click)="selectClient(client)"
                                style="cursor:pointer">
                                <td>{{ client.id }}</td>
                                <td>{{ client.nom }}</td>
                                <td>{{ client.prenom }}</td>
                                <td>{{ client.sexe }}</td>
                                <td>{{ client.contact }}</td>
                                <td>{{ client.a_savoir }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Pagination -->
                    <div class="pagination" style="margin-top:10px;">
                        <button (click)="prevPage()" [disabled]="currentPage === 1">Précédent</button>
                        <span style="margin: 0 10px;">Page {{ currentPage }} / {{ totalPages }}</span>
                        <button (click)="nextPage()" [disabled]="currentPage === totalPages">Suivant</button>
                    </div>
                </div>

                <div class="menuLeft">
                    <div class="salesdetails" style="color: rgb(9, 1, 1);">
                        <form #clientForm="ngForm">
                            <div class="paratouch">
                                <!-- Champ Nom -->
                                <div class="arrangement" style="margin-left: 20px;">
                                    <div class="formcontainer">
                                        <div class="searchfield">
                                            <span class="details">Nom</span>&nbsp;&nbsp;&nbsp;
                                            <input type="text" [(ngModel)]="client.nom" name="nom" required
                                                #nom="ngModel">
                                            <div *ngIf="nom.invalid && nom.touched" class="text-danger">
                                                Le nom est requis.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Champ Prénom -->
                                <div class="arrangement" style="margin-left: 20px;">
                                    <div class="formcontainer">
                                        <div class="searchfield">
                                            <span class="details">Prénom</span>&nbsp;&nbsp;&nbsp;
                                            <input type="text" [(ngModel)]="client.prenom" name="prenom" required
                                                #prenom="ngModel">
                                            <div *ngIf="prenom.invalid && prenom.touched" class="text-danger">
                                                Le prénom est requis.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Champ Sexe -->
                                <div class="arrangement" style="margin-left: 20px;">
                                    <div class="formcontainer">
                                        <div class="searchfield">
                                            <label for="sexe"
                                                class="me-2">Sexe</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <select id="sexe" name="sexe" [(ngModel)]="client.sexe" required
                                                #sexe="ngModel">
                                                <option value="" disabled selected>Choisir...</option>
                                                <option value="Masculin">M</option>
                                                <option value="Féminin">F</option>
                                            </select>
                                            <div *ngIf="sexe.invalid && sexe.touched" class="text-danger">
                                                Le sexe est requis.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Champ Contact -->
                                <div class="arrangement" style="margin-left: 20px;">
                                    <div class="formcontainer">
                                        <div class="searchfield">
                                            <span class="details">Contact</span>&nbsp;&nbsp;&nbsp;
                                            <input type="text" [(ngModel)]="client.contact" name="contact" required
                                                #contact="ngModel">
                                            <!--<div *ngIf="contact.invalid && contact.touched" class="text-danger">
                                                Le contact est requis.
                                            </div> --->
                                        </div>
                                    </div>
                                </div>

                                <div class="arrangement" style="margin-left: 20px;">
                                    <div class="formcontainer">
                                        <div class="searchfield">
                                            <span class="details">Adresse</span> &nbsp;&nbsp;&nbsp;
                                            <input type="text" [(ngModel)]="client.a_savoir" name="clientPaysBac"
                                                required>
                                        </div>
                                        <div class="searchfield">

                                        </div>
                                    </div>
                                </div>

                                <!-- Boutons d'action -->
                                <div class="buttonAction">
                                    <!-- Bouton ENREGISTRER -->
                                    <div class="payerbutt">
                                        <button type="button" class="btn btn-primary custom-green"
                                            style="background-color: #4CD137;" (click)="onSave()">
                                            ENREGISTRER
                                        </button>
                                    </div>

                                    <!-- Bouton MODIFIER -->
                                    <div class="payerbutt">
                                        <button type="button" class="btn btn-primary custom-green"
                                            style="background-color: #0097E6;" (click)="onUpdate()">
                                            MODIFIER
                                        </button>
                                    </div>

                                    <!-- Bouton SUPPRIMER -->
                                    <div class="payerbutt" (click)="onDelete()" style="cursor: pointer;">
                                        <img src="../../../../assets/Images/sup.png" alt="delete" class="icon">

                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>









            </div>


        </menu>
    </div>

    <div class="conta ">
        <div class="carre">
            <div class="carrecontenu" style="background-color: #2C4250;  ; color: #fdfffd;">
                <p>Nombre de clients
                <div class="dep">{{ 2 }}</div>

            </div>
        </div>

        <div class="carre">
            <div class="carrecontenu" style="background-color: #E67E22; color: #fdfffd;">

                <p>Nombre de clients actifs </p>
                <div class="dep">{{ 2 }} </div>

            </div>
        </div>
        <div class="carre">
            <div class="carrecontenu" style="background-color:#0097E6;   color: #fdfffd;">
                <p>Nombre les 7 derniers jours</p>

                <div class="dep">{{ 20 }}</div>

            </div>
        </div>


    </div>
</div>