.blue-dialog .mat-dialog-container {
  background-color: blue; /* Fond bleu pour le dialog */
  color: white; /* Texte en blanc pour un meilleur contraste */
  padding: 20px; /* Optionnel : ajoute du padding pour l'intérieur */
  border-radius: 8px; /* Optionnel : arrondit les coins, ajustez si nécessaire */
}
.no-border-dialog .mat-dialog-container {
  border: none;
  box-shadow: none;
}
