<div class="all">
    <div class="contenair">
        <div class="debut">
            <h6> </h6>
            <img src="../../../../assets/Images/Close.png" height="30px" alt="Fermer" class="icon"
                (click)="closeDialog()">
        </div>
        <h6><span>AJOUT DE PRESTATION A L'ARTICLE </span>
            <hr>
        </h6>
    </div>

    <div class="paratouch">
        <form (ngSubmit)="onSearch()" class="col form-container">
            <table class="vertical-table">
                <thead>
                    <tr>
                        <th>numPrest</th>
                        <th>Prestation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pai of depots">
                        <td>{{ pai.nom }}</td>
                        <td>{{ pai.niveau }}</td>

                    </tr>
                </tbody>
            </table>

            <div class="payerbutt">
                <button type="submit" class="btn btn-primary custom-green">Enregistrer</button>
            </div>
        </form>
    </div>

</div>