<div class="card-container">
    <mat-card class="card" [routerLink]="['/service/article']" routerLinkActive="active-card">
        <img src="../../../../assets/Images/chrr.png" height="50" width="50">
        <div class="ess">
            <h3 [ngClass]="{'active': isActive('/service/article')}">Article</h3>
        </div>
    </mat-card>

    <mat-card class="card" [routerLink]="['/service/prestation']" routerLinkActive="active-card">
        <img src="../../../../assets/Images/chrrr.png" height="50" width="50">
        <div class="ess">
            <h3 [ngClass]="{'active': isActive('/service/prestation')}">Prestation</h3>
        </div>
    </mat-card>

    <mat-card class="card" [routerLink]="['/service/categorie']" routerLinkActive="active-card">
        <img src="../../../../assets/Images/ch.png" height="50" width="50">
        <div class="ess">
            <h3 [ngClass]="{'active': isActive('/service/categorie')}">Categories</h3>
        </div>
    </mat-card>

    <mat-card class="card" [routerLink]="['/service/services']" routerLinkActive="active-card">
        <img src="../../../../assets/Images/chr.png" height="50" width="50">
        <div class="ess">
            <h3 [ngClass]="{'active': isActive('/service/services')}">Services</h3>
        </div>
    </mat-card>
</div>
