/* Structure générale */

.body {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 20px;
  padding: 32px;
}

.menuLeft,
.menuRight {
  background-color: white;
}
/* Menus avec ajustement de la largeur */
.menuLeft {
  flex: 0 0 35%; /* Réduisez la largeur du menu gauche à 35% */
  background-color: white;
  color: black;
  margin-right: 50px; /* Ajoutez un espace plus large à droite pour créer de la marge à la fin */
}

.menuRight {
  flex: 1; /* Menu droit prend le reste de l'espace */
  background-color: white;
  color: black;
}



/* Autres styles */
.sales-details {
  margin: 10px;
  border-radius: 8px;
  height: auto;
}

/* Table styling */
.vertical-table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.vertical-table th {
  padding: 2px 2px;
  border-bottom: 1px solid #ddd;
}

.vertical-table td {
  padding: 1px 1px;
  padding-left: 70px;
  border-bottom: 1px solid #ddd;
}
/* Form container */
.formcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.formcontainer input[type="text"] {
  padding: 8px;
  width: 200px;
  border: 3px solid #ddd;
  border-radius: 5px;
}

.search-field select {
  height: 35px;
  width: 37%;
  border: 3px solid #ddd;
  border-radius: 5px;
}

/* Button styling */
.custom-green {
  background-color: #0097E6;
  color: white;
  border-radius: 50px;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
}

/* Image alignment */
.imagebas {
  padding-top: 655px;
}

.imagebs {
  padding-top: 425px;
}

/* Active card styling */
.card-container .active-card {
  background-color: blue;
}

.card-container .active-card h3 {
  color: blue;
}
