/* Réinitialisation de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mise en page de base */
.all {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 96vh;
}

.contenair {
  width: 100%;
  max-width: 2500px;
  padding: 20px;
  margin: auto;
}

/* Responsive pour les tablettes */
@media (max-width: 768px) {
  .contenair {
    width: 100%;
    padding: 15px;
  }
}

/* Responsive pour les petits écrans (téléphones) */
@media (max-width: 480px) {
  .contenair {
    width: 100%;
    padding: 10px;
    box-shadow: none;
  }
}



.all {
  background-color: #ccd7de80;

}

/********MENU                 ***/
.body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.menuRight {
  background: white;
  padding: 10px;
  color: black;
  width: 450%;
  height: 520px;
  padding-left: 5%;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
  /* Adjust the shadow as needed */

}

/* Styling for menuLeft */
.menuLeft {
  margin-left: 15%;
  background-color: rgb(117, 170, 244);
  padding: 10px;
  color: black;
  height: 520px;
  width: 270%;
  text-align: left;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);

}

.menu {
  padding: 10px;
  color: black;
  text-align: right;
  height: 460px;
  width: 170%;

}


.formcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
}



.formcontainer input[type="text"] {
  padding: 12px;
  width: 380px;
  border: 3px solid #ddd;
  border-radius: 5px;
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

.payerbutt {
  padding-top: 50px;
}

.custom-blue {

  margin-left: 7px;
  background-color: rgb(117, 170, 244);
  /* Couleur bleu */
  color: white;
  /* Couleur du texte en blanc */
  border-radius: 50px;
  /* Bord arrondi pour créer un effet cylindrique */
  padding: 10px 20px;
  /* Ajuste la taille et l'espacement */
  border: none;
  /* Supprime la bordure */
  font-weight: bold;
}

.formcontainer {
  align-items: center;
  margin-bottom: 15px;
}

.searchfield {
  gap: 7px;
  margin-right: 15px;
  display: block;
  /* Assure que chaque champ occupe une ligne complète */

}



h5 {
  font-size: 15px;
  padding-top: 10px;
  margin-left: 600px;
}



h6 {
  color: #FFC515;
  padding-top: 60px;
  padding-bottom: 35px;
  font-size: 30px;
}

p {
  color: white;
  font-size: 10px;
  margin-left: 50px;
}

.sales-details {
  color: rgb(9, 1, 1);
  max-width: 270px;
  /* Assure que le texte reste aligné avec l'image */
}

.sales-details img {
  width: 270px;
  padding-top: 110px;
  margin-left: 30px;

}

.sales-details p {
  margin-top: -10px;
  /* Ajuste l'espacement pour rapprocher le texte de l'image */
}

.kitCorp{
  color: #FFC515;
  font-size: 15px;
}
.footer{
  background-color: #ccd7de80;
  text-align: center;
  font-size: 15px;

}