<div class="contenu">

    <menu>
        <div class="body">
            <form (ngSubmit)="onSearch()" class="col formcontainer">


                <div class="menuRight">
                    <span class="spanconfig">Configuration Generale</span>
                    <div class="details" style="color: rgb(9, 1, 1);">

                        <div class="arrangement">
                            <div class="formcontainer">
                                <div class="searchfield">
                                    <span class="details">Nom du pressing</span>
                                    <input type="text" [(ngModel)]="system.nom" required style="text-align: left;">
                                </div>

                                <div class="searchfield">
                                    <span class="details">Adresse &nbsp;</span>
                                    <input type="text" [(ngModel)]="system.adresse" required style="text-align: left;">
                                </div>
                            </div>
                        </div>
                        <div class="arrangement">
                            <div class="formcontainer">
                                <div class="searchfield">
                                    <span class="details">Phone 1 </span> &nbsp;
                                    <input type="text" [(ngModel)]="system.tel" required style="text-align: left;">
                                </div>

                                <div class="searchfield">
                                    <span class="details">Phone 2</span> &nbsp;
                                    <input type="text" [(ngModel)]="system.tele" required style="text-align: left;">
                                </div>
                            </div>
                        </div>

                        <div class="arrangement">
                            <div class="formcontainer">
                                <div class="searchfield">
                                    <span class="details"> E-mail</span> &nbsp;&nbsp;&nbsp;
                                    <input type="text" [(ngModel)]="system.email" required style="text-align: left;">
                                </div>
                                <div class="searchfield">

                                </div>
                            </div>
                        </div>
                        <div class="arrangement">
                            <div class="formcontainer">
                                <div class="search-field">
                                    <span class="details">Devises</span>
                                    <select name="devise" [(ngModel)]="system.devise" required>
                                        <option *ngFor="let system of systemList" [value]="system.devise">
                                            {{ system.devise }}
                                        </option>
                                    </select>
                                </div>

                                <div class="searchfield">

                                </div>
                            </div>
                        </div>

                        <div class="payerbutt">
                            <button type="submit" class="btn btn-primary custom-green">Modifier</button>
                        </div>

                    </div>
                </div>
                <div class="menuLeft">
                    <div class="salesdetails" style="color: rgb(9, 1, 1); ">
                        <div class="paratouch">
                            <div class="arrangement" style="margin-left: 20px;">
                                <div class="formcontainer">
                                    <div class="searchfield">
                                        <span class="details"> Logo</span> &nbsp;&nbsp;&nbsp;
                                        <input type="image" [(ngModel)]="system.logo" required
                                            style="text-align: left;">

                                    </div>
                                    &nbsp;&nbsp;
                                    <img src="../../../../assets/Images/Vecto.png" style=" padding-top: 110px;"
                                        height="20px" alt="Actualiser" class="icon">

                                    <div class="searchfield">

                                    </div>
                                </div>
                            </div>

                            <div class="arrangement" style="margin-left: 20px; ">
                                <div class="formcontainer">
                                    <div class="searchfield">
                                        <span class="details"> Adresse sur facture : </span> &nbsp;&nbsp;&nbsp;
                                        <input type="text" [(ngModel)]="system.adresse" required
                                            style="text-align: left; height: 40px;">
                                    </div>
                                    <div class="searchfield">

                                    </div>
                                </div>
                            </div>
                            <div class="arrangement" style="margin-left: 20px;">
                                <div class="formcontainer">
                                    <div class="searchfield">
                                        <span class="details">Attention(NB) :</span> &nbsp;&nbsp;&nbsp;
                                        <input type="text" [(ngModel)]="system.msgAttention" required
                                            style="text-align: left; height: 40px;">
                                    </div>
                                    <div class="searchfield">

                                    </div>
                                </div>
                            </div>
                            <div class="arrangement" style="margin-left: 20px;">
                                <div class="formcontainer">
                                    <div class="searchfield">
                                        <span class="details"> Message de merci : </span> &nbsp;&nbsp;&nbsp;
                                        <input type="text" [(ngModel)]="system.msgMerci" required
                                            style="text-align: left; height: 40px;">
                                    </div>
                                    <div class="searchfield">

                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>

                </div>

            </form>

        </div>

    </menu>
</div>