<div class="all">
  <div class="contenair">
    <div class="debut">
      <h6> NOUVEAU PAIEMENT
        <img src="../../../../assets/Images/Vector.png" height="20px" alt="Actualiser" class="icon">
      </h6>
      <img src="../../../../assets/Images/Close.png" height="30px" alt="Fermer" class="icon" (click)="closeDialog()">
    </div>
    <pre></pre>

    <header>
      <div class="header">
        <div class="row align-items-center d-flex">

          <form (ngSubmit)="onSearch()" class="prob">
            <div class="search-field">
              <label for="depot" class="me-2">Selectionner un depot</label>
              <select id="depot" name="depot" [(ngModel)]="selectedDepot" required>
                <option *ngFor="let depot of depots" [value]="depot.nomClient">
                  {{ depot.nomClient }}
                </option>
              </select>
            </div>

            <div class="col-auto">
              <button type="submit" class="btn btn-primary">Selection</button>
            </div>
          </form>

        </div>
      </div>
    </header>


    <pre></pre>
    <pre></pre>


    <menu>
      <div class="body">
        <div class="menuLeft" style="color: black; background-color: white;">
          <div class="sales-details" style="color: rgb(9, 1, 1); ">

            <table class="table">
              <thead>
                <tr>
                  <th>Code paie</th>
                  <th>Date versement</th>
                  <th>Somme</th>
                </tr>
              </thead>
              <pre></pre>
              <tbody>
                <tr *ngFor="let pai of depots">
                  <td>{{ pai.nom }}</td>
                  <td>{{ pai.niveau }}</td>
                  <td>{{ pai.totalEtudiants }}</td>
                </tr>
              </tbody>

            </table>


          </div>
        </div>

        <div class="menuRight">
          <div class="details" style="color: rgb(9, 1, 1);">

            <table class="vertical-table">
              <tr>
                <td>Num:</td>
                <td [ngClass]="'blue-text'">{{ depots }}</td>
              </tr>
              <tr>
                <td>Client:</td>
                <td [ngClass]="'black-text'">{{ depots }}</td>
              </tr>
              <tr>
                <td>Date de depot:</td>
                <td [ngClass]="'blue-text'">{{ depots }}</td>
              </tr>
              <tr>
                <td>Type Service:</td>
                <td [ngClass]="'black-text'">{{ depots }}</td>
              </tr>
              <tr>
                <td>Status:</td>
                <td [ngClass]="'orange-text'">{{ depots }}</td>
              </tr>
              <tr>
                <td>Prix total (XOF):</td>
                <td [ngClass]="'blue-text'">{{ depots }}</td>
              </tr>
              <tr>
                <td>Somme deja payer:</td>
                <td [ngClass]="'blue-text'">{{ depots }}</td>
              </tr>
            </table>
            <form (ngSubmit)="onSearch()" class="col form-container">
              <div class="arrangement">
                <div class="formcontainer">
                  <div class="searchfield">
                    <span class="details">Nouvel Accompte:</span>
                    <input type="number" [(ngModel)]="depots" name="etudiantPaysBac" required
                      style="text-align: right;">
                  </div>
                  <div class="searchfield">
                    <span class="details">Reste à payer:</span>
                    <input type="number" [(ngModel)]="depots" name="etudiantEtatProvenance" required
                      style="text-align: right;">
                  </div>
                </div>
              </div>

              <div class="payerbutt">
                <button type="submit" class="btn btn-primary custom-green">PAYER</button>
              </div>
            </form>




          </div>
        </div>

      </div>

    </menu>

  </div>

</div>