<div class="card-container">

    <mat-card class="card depots " (click)="openDialogdepot()"> 
        <img src="../../../../assets/Images/retra.png"
        height="50" width="50" priority>
        <div class="ess">
            <h3>Nouveau</h3>
        </div>
    </mat-card>




    <mat-card class="card retrait" (click)="openDialogretrai()">
        <img src="../../../../assets/Images/lis.png"
                height="50" width="50" priority>
        <div class="ess">
            <h3>Listes</h3>
        </div>
    </mat-card>

   

   

   
</div>
