<div class="card-container">

    <mat-card class="card depots " (click)="openDialogdepot()"> 
        <img src="../../../../assets/Images/depo.png"
        height="50" width="50" priority>
        <div class="ess">
            <h3>Depots</h3>
        </div>
    </mat-card>




    <mat-card class="card retrait" (click)="openDialogretrai()">
        <img src="../../../../assets/Images/retra.png"
                height="50" width="50" priority>
        <div class="ess">
            <h3>Retraits</h3>
        </div>
    </mat-card>

    <mat-card class="card paie" (click)="openNouveauDialog()">
        <img src="../../../../assets/Images/pai.png"
                height="50" width="50" priority>
        <div class="ess">
            <h3>Paiement</h3>
        </div>
    </mat-card>

   

   
</div>
